@import url("./responsive.css");

* {
  scroll-behavior: smooth;
}

html {
  background: #fff;
}

.img-portofolio {
  margin-top: 1rem;
}

.nav-link.active {
  color: black;
}

.nav_link.active2 {
  color: black;
}
