@media (min-width: 768px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 3rem !important;
    padding-block: 10rem 8rem !important;
  }

  .btn-wa-bottom {
    margin-inline: 20rem !important;
    bottom: 7.5vh !important;
  }

  .button-lp {
    height: 3rem;
    margin: 0 auto;
    margin-top: 1rem;
    width: 20rem;
  }

  #info-hasil img {
    height: 50rem !important;
  }

  .portofolio {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .portofolio .img-portofolio-1 {
    margin-top: 0 !important;
    grid-column: 1;
  }

  .portofolio .img-portofolio-2 {
    margin-top: 0 !important;
    grid-column: 2;
  }
}

@media (min-width: 992px) {
  .btn-wa-bottom {
    margin-inline: 30rem !important;
    bottom: 2.5vh !important;
  }

  .navbar-top {
    padding-block: 0.5rem !important;
  }

  .navbar-bottom {
    display: none;
  }

  .footer {
    padding-block: 3rem 0 !important;
  }

  .footer-flex {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-1 {
    width: 35%;
  }

  .footer-2 {
    margin-top: 0 !important;
    margin-bottom: 3rem;
  }

  .footer-3 {
    margin-top: 0 !important;
  }

  #faq {
    padding-block: 10rem !important;
  }

  #layanan {
    padding-block: 10rem !important;
  }

  #jasa {
    padding-block: 10rem !important;
  }

  #portofolio {
    padding-block: 10rem !important;
  }

  #portofolio img {
    margin-top: -1rem;
  }

  #chat-kami {
    padding-block: 10rem !important;
  }

  .img-info {
    height: 50rem !important;
  }

  .landing-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 19rem !important;
    padding-block: 13rem 8rem !important;
  }

  .button-lp {
    height: 3rem;
    width: 20rem;
    /* justify-content: start !important; */
  }

  #info-hasil {
    padding-block: 0 !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info-stat {
    padding-block: 11.5rem;
    align-items: center;
    /* margin-top: 12.5rem !important; */
  }

  .portofolio {
    margin-top: 3rem;
    margin-inline: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .portofolio .img-portofolio-1 {
    margin-top: 0 !important;
    grid-column: 1;
  }

  .portofolio .img-portofolio-2 {
    margin-top: 0 !important;
    grid-column: 2;
  }

  .portofolio .img-portofolio-3 {
    margin-top: 0 !important;
    grid-column: 3;
  }

  .container-fluid {
    padding-inline: 2rem;
  }

  .title-jasa {
    padding-block: 17rem 12rem !important;
  }
}

@media (min-width: 1200px) {
  .btn-wa-bottom {
    margin-inline: 35rem !important;
    bottom: 2.5vh !important;
  }

  .landing-page {
    height: 100%;
    padding-inline: 10rem !important;
    padding-block: 13rem 8rem !important;
  }
}

@media (min-width: 1400px) {
  .btn-wa-bottom {
    margin-inline: 53rem !important;
    bottom: 2.5vh !important;
  }

  .landing-page {
    height: 100%;
    padding-inline: 20rem !important;
    padding-block: 13rem 8rem !important;
  }
}
